html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

#app {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  color: greenyellow;
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#screen-container {
  border: 1px solid green;
  width: 100%;
  height: 80%;
  overflow: auto;
}

#screen {
  margin-top: 40%;
  border: 1px solid red;
  width: 100%;
  overflow: display;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  row-gap: 0;
}

#screen p {
  flex: 0 0 100%;
}

#user {
  height: 20%;
  border: 1px solid blue;
}

#user input {
  margin-bottom: 0;
}

.prompt-container {
  display: block;
  flex: 0 0 100%;
  padding: 1rem;
}

.prompt-options {
  border: 1px solid green;
}

.prompt-options p > span:first-child {
  display: inline-block;
  margin-right: 0.5rem;
}