html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

.temp-audio {
  position: absolute;
  top: 0;
  left: 0;
}

#app * {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
}

#app {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  color: greenyellow;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.inner-app {
  position: relative;
  height: 100%;
  width: fit-content;
  margin: 0 auto;
}

.inner-app img.sizer { 
  height: 100%;
}

.screen-wrapper {
  position: absolute;
  top: 13%;
  left: 9.5%;
  width: 60.5%;
  height: 56%;
  background: url('./gfx/screen-shine.png');
  border-radius: 15px;
}

#screen-container {
  width: 100%;
  height: calc(100% - 2.1rem);
  overflow: auto;
  opacity: 0.8;
    overflow-y: auto;
  scrollbar-color: purple transparent;
}


#screen {
  margin-top: 40%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
  row-gap: 0;
}

#screen p {
  flex: 0 0 100%;
}

#user {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.25rem;
  padding: 0.25rem;
}

#user input {
  margin-bottom: 0;
  font-size: 0.8rem;
  padding: 5px;
  background: #000;
  border: 0;
  border-radius: 0;
  height: 2rem;
  padding: 0.5rem;
}

#user button {
  height: 2rem;
  padding: 0.25rem;
  font-size: 0.8rem;
  background-color: purple;
}

.prompt-container {
  display: block;
  flex: 0 0 100%;
  padding: 1rem;
}

.prompt-options {

}

.prompt-options p > span:first-child {
  display: inline-block;
  margin-right: 0.5rem;
}